@import _reset.sass
@import _fonts.sass
@import _colors.sass
@import _commons.sass


.title
	font: bold 2rem/1  $fontBN
	text-transform: uppercase
	text-align: center
	color: black
.btn
	display: block
	width: 100%
	padding: 15px 0
	border: 0
	border-radius: 10px
	background-image: linear-gradient( 92deg, rgb(245,190,71) 0%, rgb(247,27,105) 100%);
	box-shadow: 0px 4px 62px 0px rgba(247, 32, 104, 0.3);
	font: 1.25rem/1.25 $fontFPTBook
	text-decoration: none
	text-align: center
	color: white
	cursor: pointer

.container
	max-width: 540px!important


#first 
	width: 100%
	padding: 30px 0
	height: auto
	background: url(../img/first__bg.png) no-repeat center top/ contain
	position: relative
	&:before
		content: url(../img/tree.png)
		transform: scale(.5)
		position: absolute
		right: -35px
		bottom: -37px	
	.first__list
		padding-left: 20px
		margin-bottom: 20px
		li
			font: 1.125rem/1 $fontFPTBook
			color: black
			opacity: .6
			position: relative
			margin-bottom: 8px
			&:last-child
				margin-bottom: 0px
			&:before
				content: ""
				display: block
				width: 6px
				height: 6px
				border-radius: 50%
				background: #f5bd48
				position: absolute
				top: 6px
				left: -15px
	.first__date
		display: inline-block
		background: #f72367
		padding: 5px 10px
		border-radius: 10px
		font: 1.125rem/1 $fontFPTBook
		color: white
		margin-bottom: 40px
		position: relative
		&:before
			content: url(../img/star2.png)
			transform: scale(.5)
			position: absolute
			right: -65px
			bottom: -37px
	.first__title
		display: inline-block
		width: 100%
		background: linear-gradient(45deg, rgb(245,190,71) 15%, rgb(247,27,105))
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		font: 2.5rem/1 $fontBN
		text-transform: uppercase
		// text-align: center
		color: rgb(247,27,105)
		position: relative
		span
			display: block
			font-weight: bold
			font-size: 2.85rem
		&:before
			content: url(../img/sphare.png)
			transform: scale(.6)
			position: absolute
			left: 200px
			bottom: -65px
	.first__masha
		font: 1.5rem/1 $fontFPTBook
		color: black
		margin-bottom: 30px
		position: relative
		&:before
			content: url(../img/start0.png)
			transform: scale(.6)
			position: absolute
			left: -30px
			bottom: -95px
		
	.first__text1
		display: inline-block
		padding: 20px 0
		margin-left: -15px
		padding-left: 15px
		margin-bottom: 40px
		background: url(../img/first__bg0.png) no-repeat left center / contain
		font: 1.5rem/1 $fontFPTBook
		color: black
	.btn



#second 
	width: 100%
	padding: 30px 0
	height: auto
	.title
		margin-bottom: 25px
	.second_list 
		li 
			.second__img
				display: block
				max-width: 80%
				width: 100px
				margin: 0 auto
				margin-bottom: 15px
			.second_text1
				font: 1.25rem/1 $fontFPTBook
				text-align: center
				color: black
				margin-bottom: 30px



#third 
	width: 100%
	padding: 0 0 30px 0
	height: auto
	background: linear-gradient(to bottom, #fff 0%, #f8f9fb 100%)
	position: relative
	&:before
		content: url(../img/clock.png)
		transform: scale(.65)
		position: absolute
		top: -40px
		right: -40px
	.title
		margin-bottom: 15px
	.third__text2
		font: 1.5rem/1 $fontFPTBook
		text-align: center
		color: black
		margin-bottom: 20px

	.third_program
		display: block
		width: 100%
		border: 1px solid rgba(0, 0, 0, 0.05)
		background: white
		padding: 20px 20px 20px
		overflow: hidden
		border-radius: 30px
		border: 1px solid rgb(214, 214, 214)
		box-shadow: 0px 4px 59px 0px rgba(0, 0, 0, 0.21)

	.third_text1
		display: block
		width: calc(100% + 40px)
		margin-left: -20px
		margin-top: -20px
		padding: 20px 20px 10px
		background: #f72367
		font: 1.5rem/1.25 $fontFPTDemi
		text-align: center
		color: white


	.third_list 
		padding: 20px
		li
			font: 1.25rem/1.125 $fontFPTBook
			color: black
			margin-bottom: 12px
			position: relative
			span
				font-weight: bold
			&:before
				content: ""
				display: block
				width: 6px
				height: 6px
				border-radius: 50%
				background: #f5bd48
				position: absolute
				top: 9px
				left: -15px
		.third__list2
			padding-top: 10px
			padding-left: 20px
			li 
				font: 1em/1.125em $fontFPTBook
				color: black
				margin-bottom: 15px
				position: relative
				&:before
					content: ""
					display: block
					width: 8px
					height: 5px
					border-radius: 0
					border-left: 2px solid red
					border-bottom: 2px solid red
					background: transparent
					transform: rotate(-45deg)
					position: absolute
					top: 10px
					left: -15px




#four 
	width: 100%
	padding: 0 0 30px 0
	height: auto
	background: #f8f9fb
	.title
		margin-bottom: 30px
		position: relative
		&:before
			content: ""
			display: block
			width: 30px
			height: 3px
			background: black
			position: absolute
			bottom: -20px 
			left: calc(50% - 15px)
	.four__text1
		font: 1.5rem/1 $fontFPTBook
		text-align: center
		color: black
		margin-bottom: 20px
	.four_table
		padding: 15px
		border-radius: 10px
		margin-bottom: 40px
		background: url(../img/table__bg.png) no-repeat center center/contain 
		table
			width: 100%
		tbody tr 
			width: 100%
			padding-bottom: 15px
			&:last-child
				border-bottom: none
		td
			padding: 15px 0
			&:first-child
				width: 65%
				font: 1.125rem/1 $fontFPTBook
				color: black
			&:last-child
				width: 35%
				font: 1.5rem/1 $fontFPTDemi
				text-align: right
				color: black
			&.customColor
				font: 1.5rem/1 $fontFPTBold
				color: black
	.four_text2
		font: 1.25rem/1 $fontFPTDemi
		text-align: center
		color: black
		margin-bottom: 20px
	.counter
		margin-bottom: 30px
		position: relative
		&:before
			content: url(../img/sphare.png)
			transform: scale(.5)
			position: absolute
			left: -30px
			top: -50px
		&:after
			content: url(../img/star.png)
			transform: scale(.5)
			position: absolute
			right: -30px
			bottom: -80px
	#CDT
		display: flex 
		justify-content: space-between
		justify-content: center
		padding: 20px 0
		background: #f72367
		border-radius: 20px
		.number-wrapper
			width: 20%
			margin-right: 5px
			position: relative
			&:after
				content: ": "
				font: 2.25rem/1 $fontFPTDemi
				text-align: center
				color: white
				position: absolute
				top: 0
				right: -10px
			&.last:after
				content: none
		.number
			display: block
			font: bold 2.5rem/1 $fontBN
			text-align: center
			letter-spacing: 3px
			color: white
			margin-bottom: 8px
			&.end 
				width: 100%!important
		.caption
			margin-top: -5px
			font: 1rem/1 $fontFPTBook
			text-transform: lowercase
			text-align: center
			color: white


#five
	width: 100%
	padding: 0 0 80px 0
	height: auto
	background: url(../img/five__bg.png) no-repeat left top/contain #f8f9fb
	position: relative
	overflow: hidden
	&::after
		content: url(../img/five__right.png)
		content: ""
		width: 50px 
		height: 100px
		background: url(../img/five__right.png) no-repeat center center/cover
		position: absolute
		right: -10px
		top: 30px
	.title
		margin-bottom: 15px
	.five__form
		input 
			display: block
			width: 100%
			margin-bottom: 12px
			padding: 15px 8px
			border: 1px solid #aeaeae
			border-radius: 10px
			font: 1rem/1 $fontFPTBook
			text-align: center
			color: #aeaeae
		button
			margin-top: 20px






footer
	width: 100%
	padding: 30px 0
	height: auto
	background: #3b3b3b
	.footer_text1
		font: .9em/1.125em $fontFPTBook
		text-align: center
		color: #dddada
		opacity: .4
		margin-bottom: 20px
	.footer_list1 
		margin-bottom: 15px
		li 
			a , p
				display: block
				font: .9em/1.125em $fontFPTBook
				text-align: center
				color: #dddada
				opacity: .4
				margin-bottom: 10px
				&.tdn
					text-decoration: none
	.footer_text2
		display: block
		font: .9em/1.125em $fontFPTBook
		text-align: center
		color: #dddada
		opacity: .4
		margin-bottom: 10px

	.footer_list2
		display: flex
		justify-content: center
		li 
			display: block
			width: 50px
			height: 50px
			border: 1px solid #5b5b5c
			border-radius: 50%
			transition: all .25s
			margin-right: 15px
			&:last-child
				margin-right: 0px
			&:hover
				border: 1px solid #ff2c62
				transition: all .25s
				svg
					fill: #ff2c62
					transition: all .25s
			a 
				display: flex
				width: 100%
				height: 100%
				justify-content: center
				align-items: center
				svg 
					fill: #5b5b5c
					transition: all .25s





#thy
	width: 100%
	height: auto
	padding: 50px 0
	min-height: 100vh
	.thy_title
		font: 1.75em/1em $fontFPTDemi
		text-align: center
		text-transform: uppercase
		color: #fb3535
		color: #00c107
		margin-bottom: 40px
	.thy_text1
		font: 1.5em/1em $fontFPTBold
		text-align: center
		color: black
		margin-bottom: 20px
	.thy_list
		margin-bottom: 40px
		li 
			font: 1em/1em $fontFPTBook
			margin-bottom: 40px
			padding-left: 30px
			position: relative
			span
				font: 1em/1em $fontFPTDemi
			&:before
				content: attr(data-step)
				font: 1.5em/1em $fontFPTBold
				color: red
				// position: absolute
				// left: 0
				// top: 0

	.thy_text2
		font: 1em/1em $fontFPTBook
		text-align: center
		color: #949596
		margin-bottom: 10px
	.thy_email
		display: block
		font: 1em/1em $fontFPTBook
		text-align: center
		color: #949596




































